body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
}

.image {
  border: 5px solid white;
  border-radius: 5px;
  height: 450px;
}

.link-button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #727272;
  border-radius: 3px;
  border: none;
  padding: 12px 24px;
  display: inline-flex;
}

.link-button:hover {
  background-color: #d9d9d9;
}

.link-button:active {
  box-shadow: 1px 2px #888888;
}
